<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524686110581-vqcmh3tm8vqnsshvk5mnvf17i5jteu0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524686110581-vqcmh3tm8vqnsshvk5mnvf17i5jteu0b</string>
	<key>API_KEY</key>
	<string>AIzaSyCBHa3qDYE6rLjBIxvarnZCnlVhVyknLR4</string>
	<key>GCM_SENDER_ID</key>
	<string>524686110581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.audiocult.audio-cult.stg</string>
	<key>PROJECT_ID</key>
	<string>audiocult-df8da</string>
	<key>STORAGE_BUCKET</key>
	<string>audiocult-df8da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524686110581:ios:13021c0d6e652600552d3c</string>
</dict>
</plist>